@inject NavigationManager _navigationMamager
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <h5>Please Wait...</h5>
                </Authorizing>
                <NotAuthorized>
                    @{_navigationMamager.NavigateTo("/Unauthorized");}
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">This Page Not Found!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>