@page "/changepassword/{userName}"

<PageTitle>Change @userName Password</PageTitle>
<div class="card">
    <div class="card-header">
        <h3>Change Password @userName</h3>
    </div>
    <div class="card-body">
        @if (changePasswordErrors == true)
        {
            <div class="alert alert-danger" role="alert">
                @foreach (var error in Errors)
                {
                    <h5>@error</h5>
                }
            </div>
        }
        <EditForm Model="_changePassword" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <label for="CurrentPassword" class="col-md-4 col-form-label">Current Password:</label>
                <InputText id="CurrentPassword" type="password" class="form-control" @bind-Value="_changePassword.CurrentPassword" />
                <ValidationMessage For="@(()=>_changePassword.CurrentPassword)" />
            </div>
            <div class="form-group row">
                <label for="NewPassword" class="col-md-4 col-form-label">New Password:</label>
                <InputText id="NewPassword" type="password" class="form-control" @bind-Value="_changePassword.NewPassword" />
                <ValidationMessage For="@(()=>_changePassword.NewPassword)" />
            </div>
            <div class="form-group row">
                <label for="ConfirmPassword" class="col-md-4 col-form-label">Confirm Password:</label>
                <InputText id="ConfirmPassword" type="password" class="form-control" @bind-Value="_changePassword.ConfirmPassword" />
                <ValidationMessage For="@(()=>_changePassword.ConfirmPassword)" />
            </div>
            <button class="btn btn-info float-end mt-2 mb-2" type="submit">Change Password</button>
        </EditForm>
    </div>
</div>
